<!--everything from the base template-->
{% extends "SubmitData/base.html"  %}
{% load static %}
{% load crispy_forms_tags %}

<!--Unique content for the home page-->
<!--Change db fields to be shown here-->

{% block content %}


    <h1>Your Income Sources</h1><br>
    <div>
        <form method="GET">
            <p><strong>The date format must be in YYYY/MM/DD</strong></p>
            {{ incomefilter.form|crispy}}<br>
            <button type="submit" class="btn btn-primary">Search</button> 
          </form><br>
        <table style="width:100%">
        <tr>
            <th>Source</th>
            <th>Amount</th>
            <th>Date Received</th>
        </tr>
        {% for incomes in incomefilter.qs %}
        <tr>
            <td><a class="mr-2" href="{% url 'income-detail' incomes.id %}">{{ incomes.source_name }}</a></td>
            <td>{{ incomes.amount }}</td>
            <td>{{ incomes.date_received }}</td>
        </tr>
        {% endfor %}
        </table>
    </div>

{% endblock content %}