<!--everything from the base template-->
{% extends "SubmitData/base.html"  %}
{% load static %}

<!--Unique content for the home page-->
<!--Change db fields to be shown here-->

{% block content %}
<br>
<h1>Your Company</h1><br>
    <div>
        <table style="width:100%">
        <tr>
            <th>Company Name</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Website</th>
        </tr>
        {% for company in companys %}
        <tr>
            <td><a class="mr-2" href="{% url 'company-detail' company.id %}">{{ company.company_name}}</a></td>
            <td>{{ company.phone_number}}</td>
            <td>{{ company.address }}</td>
            <td>{{ company.city }}</td>
            <td>{{ company.state }}</td>
            <td>{{ company.zip }}</td>
            <td>{{ company.website }}</td>
        </tr>
        {% endfor %}
        </table>
    </div>
{% endblock content %}
