<!--everything from the base template-->
{% extends "SubmitData/base.html"  %}

<!--Unique content for the home page-->
<!--Change db fields to be shown here-->

<!--Mercedes' code-->
{% block content %}
    <article class="media content-section">
        <!--<img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">-->
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_entered|date:"F d, Y" }}</small>
        </div>
        <h2 class="article-title"> <strong>{{ object.title }}</strong> </h2>
        <p class="article-content"><strong>Company Name:</strong> {{ object.company_name }}</p>
        <p class="article-content"><strong>Bill Amount: </strong>{{ object.amount }}</p>
        <p class="article-content"><strong> Date entered:</strong> {{ object.date_entered }}</p>
        <p class="article-content"><strong>Date incurred:</strong> {{ object.statement_date }}</p>
        <p class="article-content"><strong>Due Date: </strong>{{ object.due_date }}</p>
        <p class="article-content"><strong>Is it paid?: </strong>{{ object.is_paid }}</p>
        </div>
    </article>
{% endblock content %}