<!--This form is for the PostCreateView and Update view in the views.py file. It takes the fields it wants from those classes-->
{% extends "SubmitData/base.html"  %}
{% load crispy_forms_tags %}

<!--Unique content for the register page-->
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Bill Information</legend>
                <!--Displays form as crispy style-->
                {{ form|crispy }}
                
<!--Start Credit Card Button-->

    <div class="container">
        <form method="POST">
        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Click to enter Credit Card Information</button>
        <div id="demo" class="collapse">
      <p>Previous Balance: </p>
      <p>Minimum Payment: </p>
      <p>Payments: </p>
      <p>Adjustment: </p>
      <p>Credit: </p>
      <p>Late Fees: </p>
      <p>Interest Charges: </p>
    </div>
        </form>
  </div>


<!--End Credit Card Button-->
                   
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock content %}
